@import url(dt.css) screen and (min-width: 1024px);
header {
  width: 100vw;
  height: 70px; }
  header .logo {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
    position: relative; }
    header .logo img {
      height: 50px;
      position: relative;
      top: 13px; }
    header .logo p {
      display: block;
      margin: 0.5em;
      font-size: 1.2em;
      line-height: 75px; }
  header .formbtn {
    width: 30vw;
    height: 60px;
    margin: 5px;
    margin-right: 3rem;
    border-radius: 50px; }
    header .formbtn .formbtnin a {
      text-decoration: none; }
    header .formbtn .formbtnin img {
      display: none; }
    header .formbtn .formbtnin p.sp {
      display: none; }
    header .formbtn .formbtnin p.dt {
      margin: 0;
      height: 10vh;
      display: inline;
      line-height: 35px;
      font-size: 1.5em;
      letter-spacing: 1px; }

.sc1 {
  font-size: 4em; }
  .sc1 .title {
    background-image: url(../img/main.jpg); }

.sc2 {
  font-size: 4em; }
  .sc2 .formbtn2 p {
    border-radius: 200px;
    margin: 2em;
    padding: 0.7em; }
  .sc2 p {
    margin-bottom: 1em; }
  .sc2 .btnbox {
    font-size: 0.5em; }

.sc3 {
  height: auto;
  font-size: 5em; }
  .sc3 .first {
    width: 60vw;
    padding: 1em;
    margin: 2em auto; }
  .sc3 .first::before, .sc3 .first::after {
    content: "";
    position: absolute;
    height: 2em;
    width: 2em; }
  .sc3 .first::before {
    top: 0;
    bottom: 0;
    border-top: solid 20px #ebb94e;
    border-left: solid 20px #ebb94e; }
  .sc3 .first::after {
    right: 0;
    bottom: 0;
    border-right: solid 20px #ebb94e;
    border-bottom: solid 20px #ebb94e; }
  .sc3 p span.ul {
    border-bottom: solid 15px #ebb94e; }
  .sc3 .about {
    width: 250px;
    height: 250px;
    padding: 30px 0 0 0;
    top: 6vh; }

.sc4 {
  padding: 0 0 20em 0; }
  .sc4 .first {
    width: 60vw;
    margin: 4em auto; }
    .sc4 .first h4 {
      font-size: 2em; }
  .sc4 .first::before, .sc4 .first::after {
    content: "";
    position: absolute;
    height: 2em;
    width: 2em; }
  .sc4 .first::before {
    top: 0;
    bottom: 0;
    border-top: solid 20px #ebb94e;
    border-left: solid 20px #ebb94e; }
  .sc4 .first::after {
    right: 0;
    bottom: 0;
    border-right: solid 20px #ebb94e;
    border-bottom: solid 20px #ebb94e; }
  .sc4 p {
    font-size: 6em;
    font-weight: bold; }
    .sc4 p span {
      display: none; }
  .sc4 .container {
    width: 80vw;
    height: auto;
    margin: 0 auto; }
    .sc4 .container .item0 h2 {
      font-size: 6em;
      margin: 2em auto; }
      .sc4 .container .item0 h2 span {
        display: none; }
    .sc4 .container .block {
      width: 60vw;
      height: 500px;
      margin: 10em auto;
      justify-content: space-evenly; }
      .sc4 .container .block .item {
        height: 100px;
        width: 10vw; }
        .sc4 .container .block .item img {
          height: 250%; }
        .sc4 .container .block .item p {
          width: 10vw;
          height: auto;
          font-size: 4em; }

.sc5 {
  font-size: 3.5em; }
  .sc5 .text1 h2 {
    margin: 2em 0 0 0; }
  .sc5 .text1 p {
    margin: 0 0 4em 0; }
  .sc5 .text1 .container {
    width: 80vw;
    padding: 0 0 10em 0; }
    .sc5 .text1 .container .item {
      width: 30%;
      height: 750px; }
      .sc5 .text1 .container .item h3 {
        width: 80%; }
      .sc5 .text1 .container .item p {
        width: auto;
        line-height: 2em;
        font-size: 1.5em; }

.sc6 {
  font-size: 4em; }
  .sc6 h2 {
    margin: 3em 0 1em 0; }
  .sc6 p {
    margin: 0 0 2em 0; }
  .sc6 h3 {
    font-size: 1.5em;
    margin: 2em 0; }

.sc7 {
  font-size: 4em; }
  .sc7 .first {
    width: 60vw;
    padding: 1em;
    margin: 2em auto; }
  .sc7 .first::before, .sc7 .first::after {
    content: "";
    position: absolute;
    height: 2em;
    width: 2em; }
  .sc7 .first::before {
    top: 0;
    bottom: 0;
    border-top: solid 20px #ebb94e;
    border-left: solid 20px #ebb94e; }
  .sc7 .first::after {
    right: 0;
    bottom: 0;
    border-right: solid 20px #ebb94e;
    border-bottom: solid 20px #ebb94e; }
  .sc7 .container1 {
    font-size: 1.4em; }
    .sc7 .container1 .item h4 {
      margin-left: 0;
      text-align: left; }
  .sc7 .container2 {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4em; }
    .sc7 .container2 p {
      width: 80%;
      margin: 0 auto 2em;
      font-weight: bold; }
      .sc7 .container2 p span.dt {
        display: inline; }

.sc8 {
  font-size: 8em;
  background-image: url(../img/teacherbg.jpg); }
  .sc8 .container {
    width: 90%;
    font-size: 0.6em; }
    .sc8 .container .box {
      width: 40%; }
      .sc8 .container .box h2, .sc8 .container .box h3 {
        font-weight: normal; }
      .sc8 .container .box img {
        width: 60%; }
      .sc8 .container .box .item {
        width: 100%;
        height: auto; }
        .sc8 .container .box .item p {
          width: 80%;
          height: auto;
          margin-bottom: 2em;
          font-weight: normal; }

.sc9 {
  font-size: 4em; }
  .sc9 h2 {
    margin-top: 2em; }
  .sc9 .first {
    width: 60vw;
    margin: 2em auto;
    font-size: 1.5em; }
  .sc9 .first::before, .sc9 .first::after {
    content: "";
    position: absolute;
    height: 2em;
    width: 2em; }
  .sc9 .first::before {
    top: 0;
    bottom: 0;
    border-top: solid 20px #fafafa;
    border-left: solid 20px #fafafa; }
  .sc9 .first::after {
    right: 0;
    bottom: 0;
    border-right: solid 20px #fafafa;
    border-bottom: solid 20px #fafafa; }

.sc10 {
  font-size: 5em;
  height: auto; }
  .sc10 .container {
    width: 70%; }
    .sc10 .container img {
      width: 10em;
      height: 10em; }
    .sc10 .container .item {
      width: 80%; }
      .sc10 .container .item p {
        height: auto; }

.sc11 {
  font-size: 5em;
  width: 100%; }
  .sc11 .container {
    width: 100%;
    margin: 0 3em; }
    .sc11 .container .box {
      width: auto; }
      .sc11 .container .box table {
        width: 30vw; }

.sc12 {
  margin: 0 auto; }
  .sc12 span.img {
    display: block;
    width: 80vw;
    margin: 0 auto; }
    .sc12 span.img img {
      width: 90%;
      height: auto;
      margin: 2em; }
  .sc12 .faq {
    display: none; }
  .sc12 .container {
    height: auto;
    display: flex;
    background-color: #fff3d9;
    margin: 0 auto;
    margin: 0 4em;
    text-align: center; }
    .sc12 .container .box {
      margin: auto 4em; }
      .sc12 .container .box img {
        width: 150px;
        height: auto; }
        .sc12 .container .box img h3 {
          width: 150px;
          height: 100px;
          margin-bottom: 0px; }
    .sc12 .container .text {
      width: 80vw;
      height: auto;
      margin: 2em; }
  .sc12 img.tb {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0.1em; }

.sc13 {
  background-image: url(../img/bangkokbg.jpg); }

.sc14 .container .item {
  display: block; }
  .sc14 .container .item .circle {
    width: 300px;
    height: 300px;
    color: #333; }
    .sc14 .container .item .circle span {
      display: inline-block;
      width: 250px;
      height: 150px;
      font-weight: bold; }
    .sc14 .container .item .circle h6 {
      display: inline-block;
      width: 100px;
      height: 50px;
      margin-top: 2.5em;
      font-size: 1.7em; }
  .sc14 .container .item h5 {
    display: none; }

.sc15 span {
  display: none; }
.sc15 .first {
  font-size: 1.3em; }
  .sc15 .first h3 span {
    display: none; }
.sc15 h5 {
  font-size: 1.3em; }
  .sc15 h5 span {
    display: none; }

.sc16 h4 span {
  display: none; }

.sc17 h3 {
  font-size: 1.3em; }
.sc17 h5 {
  font-size: 1em; }
.sc17 form textarea {
  padding: 1em 0; }
.sc17 input {
  padding: 2em 0; }

/*# sourceMappingURL=dt.css.map */
